@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
*{
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(30, 30, 30);
  color: rgb(230, 230, 230);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
  padding-top: 70px;
}

.topnav {
  display: flex;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 15px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: 0.5s;
}

.topnav-right {
  float: right;
}
.topnav a.logoutbutt,
.topnav a.regbutt {
  background-color: #ddd;
  color: black;
}
.topnav a.logoutbutt:hover {
  background-color: rgb(190, 76, 76);
  color: #f2f2f2;
  transition: 0.5s;
}

.topnav a.regbutt:hover {
  background-color: rgb(40, 209, 167);
  color: #f2f2f2;
  transition: 0.5s;
}
.nextTo{
  display: inline;
}
.rick{
  width: 100px;
}
.rick:hover span{
  display: none;
}
.rick:hover:before{
  content: 'Rolled';
}
.rick:hover{
  background-color: #ddd;
  transition: 0.5s;
}
.boottoon{
  float: left;
  color: #f2f2f2;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 15px;
  background-color: aqua;
}

.boottoon:hover {
  background-color: #ddd;
  color: black;
  transition: 0.5s;
}
.header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding: 20px 100px;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  overflow: hidden;
}


/* this is my stuff*/

h1 {
  text-align: center;
  margin: 50px;
}

.menu {
  width: 100%;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  border-bottom: solid;
  background-color: black;
}

.menu-item,
.blank {
  list-style-type: none;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  flex-grow: 1;
  font-size: 13px;
  color: rgb(200, 200, 200);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

.blank {
  flex-grow: 2;
}

h2 {
  display: inline;
  margin: 15% 25%;
  color: rgb(200, 200, 200);
  padding-bottom: 2rem;
}

.home{
  background-color: rgb(20, 20, 20);
  margin: 5% 25%;
  line-height: 35px;
  padding: 30px;
  border-radius: 15px;
  border: solid;
}
.title h1{
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
}
.title h1::after{
  content:"";
  height: 2px;
  width: 250px;
  display: block;
  margin: auto;
}
.features{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto;
  width: 85%;
}
.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0px 25px;
  padding: 25px 25px;
  border-radius: 12px;
  background-color: rgba(136, 136, 124, 0.178);
  width:360px;
}
.icon{
  font-size: 40px;
}
.card h2{
  font-size: 25px;
  margin-bottom: 15px;
}
.card p{
  font-size: 15px;
  margin-bottom: 25px;
  line-height: 170%;
}
footer {
  margin: 7% 20%;
}

.add-new {
  display: inline;
  margin: 10% 5%;
}

.login {
  margin: auto;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.centerButton{
  display: flex;
  justify-content: center;
}
input {
  margin-bottom: 5%;
  height: 30px;
  width: 95%;
  border-radius: 15px;
  padding: 5px 15px;
}

button {
  height: 55px;
  width: 70px;
  border-radius: 5px;
  border: none;
  padding: 1px 5px;
}
.lbut{
  height: 55px;
  width: 100px;
}
a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

a:hover {
  text-shadow: 1px 1px 1px white;
  transition: 0.5s;
}

.add {
  width: 50%;
  height: 40px;
  display: block;
}

.purchase-history {
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.input-section {
  display: flex;
  padding: 30px;
  padding-right: 50px;
  flex-direction: column;
  margin: 40px auto;
  border: solid;
  height: 100%;
  width: 70%;
  border-radius: 15px;
}

.tab {
  border: double;
  border-radius: 20px;
  border-color: rgb(75, 75, 75);
  border-width: 7px;

  padding: 20px;
  height: 100%;
  width: 47%;
  margin: 50px auto;

  background-color: rgb(230, 230, 230);
  color: rgb(67, 62, 62);
  /* box-shadow: 5px 5px 5px rgb(255, 231, 231);
   */
}

.item {
  color: rgb(44, 44, 44);
  margin: 5px;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add:hover,
.load > button:hover {
  background-color: rgb(16, 60, 148);
  color: #f2f2f2;
  transition: 0.5s;
}

.etitle {
  display: flex !important;
  margin: 0 !important;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.delete-form {
  padding-top: 0.5rem;
}
.delete {
  background-color: rgb(20, 20, 20);
  color: white;
}
.delete:hover {
  background-color: rgb(138, 3, 3);
  transition: 0.5s;
}
.total {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:940px){
  .features{
    display: flex;
    flex-direction: column;
  }
  .card{
    width: 85%;
    display: flex;
    margin: 20px 0px;
  }
}